<div class="white-background">
    <table id="header">
        <tr>
            <td>
                <a ui-sref="home">
                    <img class="logo" src="/content/images/white-logo.svg" />
                </a>
            </td>
            <td>
                <div class="nova-text-container">
                    <a ui-sref="home">
                        <h1 class="nova-text" style="color: rgba(0,0,0,0);">NOVA</h1>
                        <h1 class="nova-text">NOVA</h1>
                    </a>
                </div>
            </td>
        </tr>
    </table>
    <slide id="downloads">
        <div><h1 class="primary">DOWNLOAD</h1></div>
        <hr>
        <h4 class="gray">We think you are running {{ os }} {{ osVersion }}</h4>
        <div id="stable">
            <h2>STABLE v{{ stableVersion }} <span class="show-all gray" ng-click="showAll('stable')">show all operating systems</span></h2>
            <a ng-repeat="stableOs in stableOses" ng-href="/content/downloads/{{ stableOs.key }}/{{stableVersion}}/NovaInstaller{{ stableOs.extension }}" download="NovaInstaller{{ stableOs.extension }}" target="_blank" class="download-button">
                <button>
                    <table>
                        <tr>
                            <td>
                                <div class="icon-container"><img ng-src="/content/images/{{stableOs.key}}.svg" /></div>
                            </td>
                            <td>
                                {{ stableOs.name }} build
                            </td>
                        </tr>
                    </table>
                </button>
            </a>
        </div>
        <div id="beta">
            <h2>BETA v{{ betaVersion }} <span class="show-all gray" ng-click="showAll('beta')">show all operating systems</span></h2>
            <a ng-repeat="betaOs in betaOses" ng-href="/content/downloads/{{ betaOs.key }}/{{betaVersion}}/NovaInstaller{{ betaOs.extension }}" download="NovaInstaller{{ betaOs.extension }}" target="_blank" class="download-button">
                <button>
                    <table>
                        <tr>
                            <td>
                                <div class="icon-container"><img ng-src="/content/images/{{betaOs.key}}.svg" /></div>
                            </td>
                            <td>
                                {{ betaOs.name }} build
                            </td>
                        </tr>
                    </table>
                </button>
            </a>
        </div>
    </slide>
    <slide id="installation">
        <div><h1 class="primary">INSTALLATION</h1></div>
        <hr>
        <h4>Pre-requisites</h4>
        <ul>
            <li>Java 1.8 or later <span class="why-java gray" ng-init="whyJava = false" ng-click="whyJava = true"><span ng-if="!whyJava">why java?</span><span ng-if="whyJava">The first iteration of the compiler is written in Java.</span></span></li>
        </ul>
        <table ng-if="false">
            <tr>
                <td class="step-number">
                    <h1 class="secondary1">1</h1>
                </td>
                <td class="instructions">
                    After <a ng-click="jump('downloads', false)">downloading</a> the binaries,
                </td>
            </tr>
            <tr>
                <td class="step-number">
                    <h1 class="secondary1">2</h1>
                </td>
                <td class="instructions" id="environment-variables">
                    Setting up environment variables
                </td>
            </tr>
            <tr>
                <td class="step-number">
                    <h1 class="secondary1">3</h1>
                </td>
                <td class="instructions">
                    Now you are ready to <a ui-sref="docs.hello-world">write your first program</a>.
                </td>
            </tr>
        </table>
    </slide>
</div>