@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	width: 100%;
	height: 100%;
	
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

p {
	margin: 10px 0;
	font-size: 18px;
}

hr {
    margin: 10px 0;
    padding: 0;
    
    border: none;
    border-top: 2px solid #ccc;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid;
    width: 200px;
    font-size: 25px;
    font-family: 'Roboto Mono', sans-serif;
}

@-webkit-keyframes blinking {
    0% {
        opacity: 0;
    }
    48% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    98% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

[contenteditable=true].cursor:focus:before {
	color: transparent;
}

[contenteditable=true].cursor:empty:before {
	content: '';
	
	border-left: 1px solid;
	animation: blinking 1s linear infinite;
	-webkit-animation: blinking 1s linear infinite;
}

[contenteditable=true]:empty:after {
	content: attr(placeholder);
	display: inline-block; /* For Firefox */

	/*text-decoration: underline;*/
}

/* */

span[contenteditable=true] {
  outline: none;
  padding: 5px;
  cursor: text;
  display: inline-block; /* For Firefox */
}

.monospace {
	font-family: 'Roboto Mono', sans-serif;
}

#splashscreen:before {
	content: '';
	
	position: fixed;
	
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	
	opacity: 0.15;
	
	background-image: url(Shared/Images/code.jpg);
	background-size: cover;
	background-position: left;
	
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

#splashscreen {
	position: relative;
	
	text-align: center;
	
	background-color: #1f122d;
	
	color: white;
}

.moto {
	font-weight: normal;
}

#splashscreen .nova-text {
	letter-spacing: 35px;
	
	margin: 0;
	
	position: absolute;
	
	left: 30px;
	top: 16px;
	
	text-shadow: 0 0 25px #f15d3b;
	
	font-size: 2em;
	
	margin: 0;
}

.documentation-link {
	position: absolute;
	
	margin: 0;
	
	right: 30px;
	top: 18px;
	
	color: #fff;
	
	font-size: 1.4em;
	
	text-decoration: none;
	
	border: 2px solid #fff;
	
	padding: 5px 10px;
}

#logo-main {
	height: 38%;
	
	max-width: calc(100% - 40px);
}

.centered {
	position: absolute;
	
	left: 50%;
	top: 50%;
	
	transform: translate(-50%, -50%);
	
	width: 460px;
}

.full {
	height: 100%;
}

.pre {
	padding: 0px 3px;
	
	border-radius: 4px;
	
	color: white;
	background-color: #1f122d;
}

.downloads {
	text-align: center;
	
	margin: auto;
	
	width: 100%;
	
	display: table;
	border-spacing: 25px;
	
	table-layout: fixed;
	
	white-space: nowrap;
}

.downloads > a {
	display: table-cell;
}

.downloads > a > div {
	background-color: #f15d3b;
	
	border: 1.5px solid #fff;
	box-shadow: 0 0 0 8px #f15d3b;
	border-radius: 25px;
	
	line-height: 0.8;
	
	padding: 18px;
	
	color: #fff;
}

.downloads p {
	font-size: 16px;
}

.downloads * {
	text-decoration: none;
}

.downloads .stable {
	margin-right: 4%;
	
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.downloads .beta {
	margin-left: 4%;
	
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#aspects {
	white-space: nowrap;
	
	padding-left: 0;
	padding-right: 0;
	
	background-color: #f5f5f5;
}

#aspects > div {
	display: flex;
}

#aspects > div > div:nth-of-type(1) {
	order: 1;
}

#aspects > div > div:nth-of-type(2) {
	order: 2;
}

#aspects > div > div:nth-of-type(3) {
	order: 3;
}

.section {
	width: 27vw;
	height: 27vw;
	
	margin: 50px 3vw;
	
	border: 3px solid;
	
	display: inline-block;
	
	text-align: center;
	
	white-space: normal;
}

.section > table {
	color: inherit;
	text-align: inherit;
	
	width: 100%;
	height: 100%;
	padding: 0 5%;
}

.section > table tr:nth-of-type(1) {
	height: 50%;
}

.section > table tr:nth-of-type(1) td {
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.section > table tr:nth-of-type(2) {
	/*vertical-align: top;*/
}

@media (max-width: 1100px) {
	#aspects {
		
	}
	
	#aspects > div {
		flex-direction: column;
	}
	
	.section:nth-of-type(2) {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.section {
		width: 80vw;
		height: 80vw;
		
		max-width: 400px;
		max-height: 400px;
		
		margin-left: auto;
		margin-right: auto;
	}
}

.stay-up-to-date {
	font-size: 25px;
	
	color: white;
	
	padding: 0;
}

.stay-up-to-date .header {
	margin-top: 12px;
	margin-bottom: 15px;
}

.stay-up-to-date > .content {
	margin: 50px;
	padding: 0px 25px;
	
	border-width: 2px;
	border-style: solid;
}

.indent {
    margin-left: 105px;
    text-indent: -105px;
}

.indent * {
	text-indent: 0;
}

#code-example ul {
	margin-left: 50px;
}

#code-example {
	margin: 0;
	padding: 0;
	
	background-color: #fff;
	
	background-image: url(Shared/Images/code2.png);
	background-size: cover;
	background-position: left;
}

.slide > h1 {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 50px;
}

#code-example .indent-children p {
    margin-left: 38px;
    text-indent: -38px;
}

#code-example .indent {
    margin-left: 38px;
    text-indent: -38px;
}

.code {
	color: white;
    font-family: 'Roboto Mono', sans-serif;
	
	word-break: break-word;
}

#code-example p {
	padding: 0 50px;
	font-size: 16px;
}

#code-example .code p {
	padding-left: 5px;
	padding-right: 5px;
}

#code-example .code-container {
	width: 50%;
}

#code-example .example .code {
	padding: 30px;
	
	border-radius: 45px;
	
	line-height: 1.1;
}

#code-example .example .description {
	width: 50%;
	
	margin-bottom: 30px;
	
	align-self: center;
}

#code-example .example {
	margin-bottom: 40px;
	
	display: flex;
}

#code-example .example .description > h2 {
	text-align: center;
}

#code-example .example .description > h2 {
	margin-top: 0;
}

#code-example .tree .code {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	
	margin-left: 50px;
}

#code-example .traits .code {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	
	margin-right: 50px;
}

#code-example .example:nth-of-type(even) .code-container {
	order: 1;
}

#code-example .example:nth-of-type(even) .description {
	order: 2;
}

@media (max-width: 1100px) {
	#code-example .example {
		flex-direction: column;
	}
	
	#code-example .example .description,
	#code-example .example .code-container {
		width: 100%;
	}
	
	#code-example .example:nth-of-type(even) .code-container {
		order: 2;
	}

	#code-example .example:nth-of-type(even) .description {
		order: 1;
	}
}

#code-comparisons > h1 {
	color: white;
}

#code-comparisons {
	padding: 0 50px;
	margin: 0;
}

#code-comparisons h3 {
	color: white;
}

#code-comparisons .code hr {
	width: 80%;
	margin: auto;
}

#code-comparisons .explanation {
	width: 40%;
	padding: 5px 0px;
}

/*#code-comparisons .explanation h3 {
	text-align: center;
}*/

#code-comparisons .explanation p {
	color: #f15d3b;
	
	font-size: 22px;
}

#code-comparisons .comparison {
	display: flex;
	
	margin-top: 40px;
}

#code-comparisons .comparison > div {
	align-self: center;
}

#code-comparisons table {
	width: 100%;
}

.l.bracket-container {
    left: 0;
}

.r.bracket-container {
    right: 0;
}

.bracket-container {
	background-color: #1f122d;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    
    width: 50%;
}

.bracket-cover {
	content: '';
	
	position: absolute;
	
	left: 0;
	top: 0;
	bottom: 0;
    
    width: calc(50% + 1px);
	
	background-color: #1f122d;
	
	z-index: 2;
}

.slide.visible .hack.transition:not(.on-active),
.slide.active .hack.transition.on-active {
	width: 0%;
}

.bracket-cover, .bracket-container {
	-webkit-transition: 1s ease all;
	transition: 1s ease all;
	
    -webkit-transition-property: width;
    transition-property: width;
	
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-perspective: 1000;
	perspective: 1000;
}

.l.bracket {
    left: 100%;
    border-right: none;
}

.r.bracket {
    right: 100%;
    border-left: none;
}

.bracket {
    position: absolute;
    width: 20px;
    border: 3px solid #f15d3b;
    top: 0;
    bottom: 0;
}

#code-comparisons .code {
	position: relative;
	
	max-width: 50%;
	
	margin: auto;
	
	overflow: hidden;
}

#code-comparisons .code .container > div:nth-of-type(1),
#code-comparisons .code .container > div:nth-of-type(3) {
	padding: 15px 0;
}

#code-comparisons .code .container > div {
	overflow: hidden;
}

#code-comparisons .code p {
	padding: 0 25px;
	
	line-height: 1.3;
	
	margin-top: 0;
	margin-bottom: 0;
	
	font-size: 13px;
}

#code-comparisons .code .indent {
    margin-left: 31px;
    text-indent: -31px;
}

@media (min-width: 1100px) {
	#code-comparisons .comparison:nth-of-type(odd) > div:first-of-type,
	#code-comparisons .comparison:nth-of-type(even) > div:last-of-type {
		order: 1;
	}
	
	#code-comparisons .comparison:nth-of-type(odd) > .explanation {
		text-align: right;
	}
	
	#code-comparisons .comparison:nth-of-type(even) > div:first-of-type,
	#code-comparisons .comparison:nth-of-type(odd) > div:last-of-type {
		order: 2;
	}
}
@media (max-width: 1100px) {
	#code-comparisons .comparison {
		display: block;
	}

	#code-comparisons .comparison > div {
		box-sizing: border-box;
	}
	
	#code-comparisons .explanation {
		text-align: center;
		display: block;
		width: 100%;
	}
	
	#code-comparisons .code {
		display: inline-block;
		max-width: 90%;
		
		left: 50%;
		transform: translateX(-50%);
	}
}

#downloads {
	padding: 50px;
}

#downloads > .downloads {
	width: 500px;
}

#footer {
	padding: 120px 100px;
	
	background-color: #0f021d;
}

#footer a, #footer p {
	color: #f15d3b;
	
	text-decoration: none;
}

#footer > table {
	width: 100%;
	
	text-align: center;
	
	table-layout: fixed;
}

#footer .social a {
	margin: 0 10px;
}

#footer .social svg {
	width: 40px;
}

.nowrap {
	white-space: nowrap;
}

.bold {
	font-weight: bold;
}

.dark {
	color: #1f122d;
}

.white {
	color: #fff;
}

.primary {
	color: #f15d3b;
}

.secondary1 {
	color: #4da4db;
}

.secondary2 {
	color: #4dc0b3;
}

.secondary3 {
	color: #ffd95d;
}

.secondary4 {
	color: #9bcb3c;
}

.secondary5 {
	color: #f92672
}

.type {
	color: #4da4db;
}

.identifier {
	color: #9bcb3c;
}

.text {
	color: #ffd95d;
}

.modifier {
	color: #f92672;
}

.comment {
	color: #aaa;
}

.dark-border {
	border-color: #1f122d;
}

.primary-border {
	border-color: #f15d3b;
}

.secondary1-border {
	border-color: #4da4db;
}

.secondary2-border {
	border-color: #4dc0b3;
}

.secondary3-border {
	border-color: #ffd95d;
}

.secondary4-border {
	color: #9bcb3c;
}

.dark-background {
	background-color: #1f122d;
}

.primary-background {
	background-color: #f15d3b;
}

.secondary1-background {
	background-color: #4da4db;
}

.secondary2-background {
	background-color: #4dc0b3;
}

.secondary3-background {
	background-color: #ffd95d;
}

.secondary4-background {
	background-color: #9bcb3c;
}