@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	width: 100%;
	height: 100%;
	
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

p {
	margin: 10px 0;
}

hr {
    margin: 10px 0;
    padding: 0;
    
    border: none;
    border-top: 1px solid #ccc;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid;
    width: 200px;
    font-size: 25px;
    font-family: 'Roboto Mono', sans-serif;
}


.monospace {
	font-family: 'Roboto Mono', sans-serif;
}

#splashscreen {
	text-align: center;
	
	background-color: #141414;
	
	color: white;
}

#logo-main {
	height: 30%;
}

.centered {
	position: absolute;
	
	left: 50%;
	top: 50%;
	
	transform: translate(-50%, -50%);
	
	width: 500px;
}

.full {
	height: 100%;
}

.downloads {
	text-align: center;
	
	margin: auto;
}

.downloads > div {
	background-color: #f15d3b;
	width: 42%;
	
	display: inline-block;
	
	border-radius: 30px;
	
	line-height: 0.3;
	
	padding: 20px 0;
}

.downloads .stable {
	margin-right: 4%;
	
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.downloads .nightly {
	margin-left: 4%;
	
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#something > table {
	width: 100%;
}

.section {
	width: 80%;
	height: 25vw;
	
	margin: 50px auto;
	
	border: 3px solid #2222dd;
}

.stay-up-to-date {
	background-color: #141414;
	
	font-size: 25px;
	
	color: white;
}

.code {
	background-color: #141414;
	
	color: white;
}

#code-example {
	margin: 0;
	padding: 50px 0;
}

#code-example p, #code-example h3 {
	padding: 0 50px;
}

#code-example .code {
	width: 55%;
	height: 80%;
	max-height: 200px;
	
	padding: 30px;
	margin-left: 50px;
	
	border-top-left-radius: 45px;
	border-bottom-left-radius: 45px; 
	
	float: right;
}

#code-comparisons {
	background-color: #141414;
	
	padding: 0;
	margin: 0;
}

#code-comparisons h3 {
	color: white;
}

#code-comparisons p {
	color: #f15d3b;
	
	font-size: 22px;
}

#code-comparisons table {
	width: 100%;
}

#code-comparisons table:nth-child(odd) td:first-of-type {
	width: 70%;
}

#code-comparisons table:nth-child(odd) td:first-of-type .code {
	margin-right: 15px;
}

#code-comparisons table:nth-child(even) td:last-of-type {
	width: 70%;
}

#code-comparisons table:nth-child(even) td:last-of-type .code {
	margin-left: 15px;
}

#code-comparisons .code {
	border: 2px solid #f15d3b;
	
	margin: 50px 150px;
	padding: 50px 30px;
}

#code-comparisons .code p {
	color: #99CA3C;
}

#code-comparisons .explanation {
	padding: 50px;
}

#downloads {
	padding: 50px;
}

#downloads > .downloads {
	width: 500px;
}

#footer {
	padding: 120px 100px;
	
	background-color: #040404;
}

#footer a, #footer p {
	color: #f15d3b;
	
	text-decoration: none;
}

#footer > table {
	width: 100%;
	
	text-align: center;
	
	table-layout: fixed;
}