.content-header-container {
    border: 3px solid;
    
/*    border-left: none;
    border-right: none;*/
    
    padding: 0 20px;
}

.content-header-container .header-container {
    margin: 0;
}

.content-header-container .content-header {
    font-size: 50px;
    font-weight: bold;
    
    margin: 30px 0;
}

.content-header-container .content-subheader {
    font-size: 50px;
    font-weight: bold;
    
    margin-top: -30px;
    margin-bottom: 50px;
}

.content-header-container .header-container {
    display: inline-block;
}

.content-header-container .info {
    font-size: 15px;
    /*text-align: right;*/
    margin-left: 3px;
    margin-top: -30px;
    color: #cacaca;
}

.content-header-container > table {
    width: 100%;
}

.content-header-container > table > tbody > tr > td:last-of-type {
    vertical-align: bottom;
    text-align: right;
}

.content-view-container {
    display: flex;
    
    width: 100%;
}

.content-view {
    padding: 20px;
    
    order: 1;
    
    width: 100%;
}

.content-view > .view {
    max-width: 1200px;
}

.content-view.home {
    padding: 0;
}

.references {
    order: 2;
    
    border-left: 3px solid;
    
    width: 360px;
    max-width: 38vw;
    
    padding: 0px 20px
}

.references-list {
    padding-left: 18px;
}

.references h2 {
    margin-top: 10px;
}

.export-options > h2 {
    display: inline-block;
}

.share-link {
    cursor: pointer;
    
    margin-bottom: 12px;
}

.share {
    height: 20px;
}

.hljs {
    width: 100%;
}

div.hljs {
    margin: 40px 0;
    text-align: center;
}

.release-notes .release-note > :not(:first-child) {
    margin-left: 20px;
}

@media (max-width: 900px) {
    .content-header-container .content-header {
        font-size: 45px;
    }
}
@media (max-width: 700px) {
    .content-header-container .content-header {
        font-size: 38px;
    }
}