<div class="tree-browser" ng-class="{ root: isRoot }">
    <div ng-repeat="item in data | orderBy:'-children.length'" class="tree-item" ng-class="{ selected: item.selected, children: item.children && item.children.length > 0, open: item.open }">
        <table ng-click="toggle(item, false)">
            <tr>
                <td class="arrow-container">
                    <div class="arrow" ng-class="{ down: item.open, invisible: !item.children || item.children.length == 0 }"></div>
                </td>
                <td class="link-container">
                    <a ng-click="toggle(item, true); $event.stopPropagation();" class="link" ng-class="{ selected: item.selected }" ui-sref="{{urlPrefix}}{{item.fullUrl}}" ng-bind="item.header" ng-attr-title="{{ item.tooltip }}"></a>
                </td>
            </tr>
        </table>
        <tree-browser class="sub-tree-browser" ng-show="item.open" ng-if="item.children && item.children.length > 0" data="item.children" url-prefix="{{urlPrefix}}" root="root"></tree-browser>
    </div>
</div>