<div ng-if="!page" class="default-view" ng-init="limit = 50">
    <table class="recent-posts-header">
        <tr>
            <td>
                <h1>{{ limit ? 'RECENT' : 'ALL' }} POSTS <span ng-show="limit" class="show-all" ng-click="limit = false">Show all</span></h1>
            </td>
            <td class="search">
                <input type="text" ng-model="searchValue" placeholder="SEARCH POSTS" />
            </td>
        </tr>
    </table>
    <hr>
    <div class="post-list">
        <div class="post" ng-repeat="page in pages | filter:search(searchValue, ['header']) | orderBy:momentDate('date', true) | limitTo:limit">
            <h3><a ui-sref="{{page.name}}"><span ng-bind="page.header"></span></a></h3>
            <h6><span class="date" ng-bind="page.date"></span></h6>
        </div>
    </div>
</div>