<div ng-if="!page" class="default-view" ng-init="limit = 3">
    <table class="recent-posts-header">
        <tr>
            <td>
                <h1>RECENT POSTS <span class="show-all" ng-click="limit = false">Show all</span></h1>
            </td>
            <td class="search">
                <input type="text" ng-model="searchValue" class="dark-background white" placeholder="SEARCH POSTS" />
            </td>
        </tr>
    </table>
    <hr>
    <ul>
        <li ng-repeat="page in pages | filter:search(searchValue, ['header']) | orderBy:'-date' | limitTo:limit">
            <a ui-sref="{{page.name}}"><span ng-bind="page.header"></span></a> - <span class="date" ng-bind="page.date"></span>
        </li>
    </ul>
</div>